<div class="card my-5">
  <div class="card-body">
    <h2 style="text-align: center;">Buyers</h2>
    <table class="table table-bordered" style="table-layout: fixed;">
      <thead class="thead-dark">
        <tr>
          <th *ngIf="!isShown" scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">CIF</th>
          <th scope="col">NIF</th>
          <th scope="col">Category</th>
          <th scope="col">Contact</th>
          <th scope="col">Country</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let buyer of buyers">
          <td><input [readonly]="!isShown" class="form-control" [(ngModel)]="buyer.name" /></td>
          <td><input [readonly]="!isShown" class="form-control" [(ngModel)]="buyer.cif" /></td>
          <td><input [readonly]="!isShown" class="form-control" [(ngModel)]="buyer.nif" /></td>
          <td><input [readonly]="!isShown" class="form-control" [(ngModel)]="buyer.category" /></td>
          <td><input [readonly]="!isShown" class="form-control" [(ngModel)]="buyer.id_contact" /></td>
          <td><input [readonly]="!isShown" class="form-control" [(ngModel)]="buyer.country" /></td>
          <td>
            <button class="btn btn-outline-primary" (click)="toggleShow()">Edit</button>
            <button *ngIf="isShown" class="btn btn-outline-success" (click)="save(this.buyer)">Save</button>
            <button class="btn btn-outline-danger" (click)="delete(this.buyer)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <li class="list-inline-item">
    <a routerLink="/addBuyer" class="button">Add Buyer</a>
  </li>
</div>