<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #employeeform="ngForm">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Salary</th>
            <th scope="col">Category</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="form-group">
              <input type="text" [(ngModel)]="employee.name" id="name" name="name" class="form-control"
                placeholder="Name">
            </td>
            <td class="form-group">
              <input type="text" [(ngModel)]="employee.last_name" id="last_name" name="last_name" class="form-control"
                placeholder="Last name">
            </td>
            <td class="form-group">
              <input type="text" [(ngModel)]="employee.salary" id="salary" name="salary" class="form-control"
                placeholder="Salary">
            </td>
            <td class="form-group">
              <input type="text" [(ngModel)]="employee.category" id="category" name="category" class="form-control"
                placeholder="Category">
            </td>
          </tr>
        </tbody>
      </table>
      <button type="submit" [disabled]="!employeeform.form.valid" class="button">Submit</button>
    </form>
  </div>
</div>