<div class="card my-5">
  <div class="card-body">
    <h2 style="text-align: center;">Providers</h2>
    <form (ngSubmit)="onSubmit()" #providerform="ngForm">
      <table class="table table-bordered" style="table-layout: fixed;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">CIF</th>
            <th scope="col">NIF</th>
            <th scope="col">Category</th>
            <th scope="col">Contact</th>
            <th scope="col">Country</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="form-group">
              <label for="name">Name</label>
              <input type="text" [(ngModel)]="provider.name" id="name" name="name" class="form-control"
                placeholder="Name">
            </td>
            <td class="form-group">
              <label for="CIF">CIF</label>
              <input type="text" [(ngModel)]="provider.cif" id="CIF" name="CIF" class="form-control" placeholder="CIF">
            </td>
            <td class="form-group">
              <label for="NIF">NIF</label>
              <input type="text" [(ngModel)]="provider.nif" id="NIF" name="NIF" class="form-control" placeholder="NIF">
            </td>
            <td class="form-group">
              <label for="category">Category</label>
              <input type="text" [(ngModel)]="provider.category" id="category" name="category" class="form-control"
                placeholder="Category">
            </td>
            <td class="form-group">
              <label for="id_contact">Contact</label>
              <input type="text" [(ngModel)]="provider.id_contact" id="id_contact" name="id_contact"
                class="form-control" placeholder="Contact">
            </td>
            <td class="form-group">
              <label for="country">Country</label>
              <input type="text" [(ngModel)]="provider.country" id="country" name="country" class="form-control"
                placeholder="Country">
            </td>
          </tr>
        </tbody>
      </table>
      <button type="submit" [disabled]="!providerform.form.valid" class="button">Submit</button>
    </form>
  </div>
</div>