<div class="card my-5">
  <div class="card-body">
    <h2 style="text-align: center;">Sectors</h2>
    <form (ngSubmit)="onSubmit()" #sectorform="ngForm">
      <table label="Sectors" class="table table-bordered" style="table-layout: fixed;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Animal Types</th>
            <th scope="col">Location</th>
            <th scope="col">Farm</th>
            <th scope="col">Employee</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="form-group">
              <input type="text" [(ngModel)]="sector.name" id="name" name="name" class="form-control"
                placeholder="Name">
            </td>
            <td class="form-group">
              <input type="text" [(ngModel)]="sector.type_animals" id="type_animals" name="type_animals"
                class="form-control" placeholder="Animal Types">
            </td>
            <td class="form-group">
              <input type="text" [(ngModel)]="sector.location" id="location" name="location" class="form-control"
                placeholder="Location">
            </td>
            <td class="form-group">
              <input type="text" [(ngModel)]="sector.id_farm" id="id_farm" name="id_farm" class="form-control"
                placeholder="ID farm">
            </td>
            <td class="form-group">
              <input type="text" [(ngModel)]="sector.id_employee" id="id_employee" name="id_employee"
                class="form-control" placeholder="ID Employee">
            </td>
          </tr>
        </tbody>
      </table>
      <button type="submit" [disabled]="!sectorform.form.valid" class="button">Submit</button>
    </form>
  </div>
</div>