<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #sectorform="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="sector.name" 
            class="form-control" 
            placeholder="Enter the sector name">
        </div>
        <div class="form-group">
          <label for="type_animals">Type animals</label>
          <input type="text" [(ngModel)]="sector.type_animals" 
            class="form-control" 
            placeholder="Enter the sector type of animals">
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" [(ngModel)]="sector.location" 
            class="form-control" 
            placeholder="Enter the sector location">
        </div>
        <div class="form-group">
          <label for="id_farm">Farm</label>
          <input type="text" [(ngModel)]="sector.id_farm" 
            class="form-control" 
            placeholder="Enter the sector farm">
        </div>
        <div class="form-group">
            <label for="id_employee">Employee</label>
            <input type="text" [(ngModel)]="sector.id_employee" 
              class="form-control" 
              placeholder="Enter the sector employee">
          </div>
        <button type="submit" [disabled]="!sectorform.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>