<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Animal</th>
          <th scope="col">Buyer</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sale of sales">
          <td>{{ sale.id_sale }}</td>
          <td>{{ sale.id_animal }}</td>
          <td>{{ sale.id_buyer }}</td>
          <td>{{ sale.quantity }}</td>
          <td>{{ sale.price }}</td>
          <td>
            <button class="btn btn-outline-primary" (click)="edit(this.sale)">Edit</button>
            <button class="btn btn-outline-danger" (click)="delete(this.sale)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <li class="list-inline-item">
    <a routerLink="/addSale" class="button">Add Sale</a>
  </li>
</div>