<div *ngIf="!isShown" class="card-body">
  <form #loginform="ngForm">
    <div>
      <label for="inputEmail" class="sr-only">Email</label>
      <input type="text" [(ngModel)]="this.user.email" id="email" name="email" class="form-control" placeholder="Email">
    </div>
    <div>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" [(ngModel)]="this.user.password" id="password" name="password" class="form-control"
        placeholder="Password">
    </div>
    <div class="card-body">
      <button type="submit" [disabled]="!loginform.form.valid" class="btn btn-outline-success"
        (click)="login(this.user)">Log In</button>
      <button class="btn btn-outline-primary" (click)="save(this.user)">Register</button>
    </div>
  </form>
</div>

<p style="display: flex; justify-content: center" *ngIf="isShown">
  Welcome {{ user.email }}!
</p>