<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #productform="ngForm">
        <div class="form-group">
          <label for="category">Category</label>
          <input type="text" [(ngModel)]="product.category" 
            class="form-control" 
            placeholder="Enter the product category">
        </div>
        <div class="form-group">
          <label for="type">Type</label>
          <input type="text" [(ngModel)]="product.type" 
            class="form-control" 
            placeholder="Enter the product type">
        </div>
        <div class="form-group">
          <label for="id_provider">Provider</label>
          <input type="text" [(ngModel)]="product.id_provider" 
            class="form-control" 
            placeholder="Enter the product provider">
        </div>
        <button type="submit" [disabled]="!productform.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>