<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Location</th>
          <th scope="col">Size</th>
          <th scope="col">Total sectors</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let farm of farms">
          <td>{{ farm.id_farm }}</td>
          <td>{{ farm.name }}</td>
          <td>{{ farm.location }}</td>
          <td>{{ farm.farm_size }}</td>
          <td>{{ farm.total_sectors }}</td>
          <td>
            <button class="btn btn-outline-primary" (click)="edit(this.farm)">Edit</button>
            <button class="btn btn-outline-danger" (click)="delete(this.farm)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <li class="list-inline-item">
    <a routerLink="/addFarm" class="button">Add Farm</a>
  </li>
</div>