<header id="header">
    <div class="banner">
    <img id="logo-image" src ="../assets/awflogowhite.png" alt = "Animal World Farms Logo" class="img-responsive">
    </div>
    <nav id="navbar">
        <ul class="nav-list-horizontal">
            <li><a routerLink="/login">Home</a></li>
            <li><a routerLink="/animals">Animals</a></li>
            <li><a routerLink="/buyers">Buyers</a></li>
            <li><a routerLink="/contacts">Contacts</a></li>
            <li><a routerLink="/employees">Employees</a></li>
            <li><a routerLink="/farms">Farms</a></li>
            <li><a routerLink="/products">Products</a></li>
            <li><a routerLink="/providers">Providers</a></li>
            <li><a routerLink="/sales">Sales</a></li>
            <li><a routerLink="/sectors">Sectors</a></li>
            <li><a routerLink="/about">About</a></li>
        </ul>
    </nav>
</header>
<body>
    <router-outlet></router-outlet>
</body>
<footer>
    <div class="banner">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
        <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>
        <p>Copyright &copy; Enrique Salazar del Cid</p>
    </div>
</footer>
