<div class="card my-5">
  <div class="card-body">
    <h2 style="text-align: center;">Employees</h2>
    <table class="table table-bordered" style="table-layout: fixed;">
      <thead class="thead-dark">
        <tr>
          <th *ngIf="!isShown" scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Salary</th>
          <th scope="col">Category</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td><input [readonly]="!isShown" class="form-control" [(ngModel)]="employee.id_employee" /></td>
          <td><input [readonly]="!isShown" class="form-control" [(ngModel)]="employee.name" /></td>
          <td><input [readonly]="!isShown" class="form-control" [(ngModel)]="employee.last_name" /></td>
          <td><input [readonly]="!isShown" class="form-control" [(ngModel)]="employee.salary" /></td>
          <td><input [readonly]="!isShown" class="form-control" [(ngModel)]="employee.category" /></td>
          <td>
            <button class="btn btn-outline-primary" (click)="toggleShow()">Edit</button>
            <button *ngIf="isShown" class="btn btn-outline-success" (click)="save(this.employee)">Save</button>
            <button class="btn btn-outline-danger" (click)="delete(this.employee)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <li class="list-inline-item">
    <a routerLink="/addEmployee" class="button">Add Employee</a>
  </li>
</div>