<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #animalform="ngForm">
        <div class="form-group">
          <label for="type">Type</label>
          <input type="text" [(ngModel)]="animal.type" 
            class="form-control" 
            placeholder="Enter the animal type">
        </div>
        <div class="form-group">
          <label for="breed">Breed</label>
          <input type="text" [(ngModel)]="animal.breed" 
            class="form-control" 
            placeholder="Enter the animal breed">
        </div>
        <button type="submit" [disabled]="!animalform.form.valid" 
          class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>